body {
    background: rgb(8, 8, 8);
}

.container {

    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}

table,
th,
td {
    border: 1px solid #39864a;
    border-collapse: collapse;
    color: #fff;
    font-weight: 500;
    width: 50%;

}

th,
td {
    padding: 10px;
    text-align: center;

}

.titulos {
    background: #39864a;
}

tr {
    background: #71babe;
}

table {

    margin: auto;
    margin-top: 50px;
}

img {
    border-radius: 50%;
    width: 60px;
}

.date {
    text-align: center;
    color: #39864a;
}

.formulario {
    width: 300px;
    max-width: 50%;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 2px #39864a;
    position: relative;
    margin: auto;
    background: #71babe;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    margin-top: 0;
    color: #39864a;

}

input {
    display: block;
    width: 90%;
    border: 1px solid #39864a;
    margin-bottom: 30px;
    padding: 8px;
    size: 15px;
    border-radius: 10px;
}

input:focus {
    box-shadow: none;
    outline: none;
}

.submit {
    background: #39864a;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;

}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #39864a;
    padding-top: 20px;
}



.container {
    width: 100%;
}

table {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 800px) {
    table {
        font-size: 10px;
    }

    th,
    td {
        padding: 0px;
        text-align: center;
    }
}